body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black !important;
  color: white !important;
}

::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sign-wrapper {
  margin: auto;
  width: 50%;
  padding: 32px;
}

.sign-status {
  width: 100%;
}

.sign-available {
  color: green;
}

.sign-unavailable {
  color: red;
}
